html {
    font-family: 'Open Sans', sans-serif;
    width: 99%;
}

html body{
    background-color: #e6e8e8;
}

h1 {
    text-align: center;
}

.controlContainer {
    /*border:1px solid #00FF00;*/
}

.mapContainer {
    padding: 50px 50px 50px 50px;
    margin: 10px;
    clear: right;
}

.terrainMap {
    float: left;
    display: inline-block;
}

    .terrainMap img {
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        width: 2%;
        height: 2%;
    }


.controlPanel {
    width: 300px;
    max-width: 300px;
    float: left;
    display: inline-block;
}

    .controlPanel input[type="text"], span, select, textarea {
        width: 90%;
        padding: 5px;
    }


    .controlPanel ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

        .controlPanel ul li {
            display: inline-block;
            color: #fff;
            background-color: #036;
            padding: .2em 1em;
            margin: 4px 1px;
            border-radius: 10px;
        }

    td input {
        height: 50px;
        width: 50px;
    }

input[type="submit"] {
    font-weight: bold;
}

#table-control-panel {
    margin-top: 30px;
    margin-bottom: 30px;
}