@model CentralCommand.Models.MissionViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

<section id="section-main">
    <div class="controlContrainer">
        <div class="row">
            <div class="controlPanel col-md-2 col-md-offset-1">
                <div id="controlPanel-header" class="row">
                    <span id="MissionControl">Mission Control @Html.ActionLink("Reset", "Reset", null, new { @class = "btn btn-link btn-danger" })</span>
                </div>
                <ul id="newObstacles" class="lists"></ul>
                <div class="row">
                    <input id="addObstacles" class="missionButton btn btn-primary" type="submit" value="Add" />
                </div>
                <div class="row">
                    <table id="table-control-panel">
                        <tr>
                            <td></td>
                            <td>
                                <input id="forward" type="image" value="Forward" alt="Forward Button" data-field="f" src="~/Images/up.png" />
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <input id="left" type="image" value="Left" alt="Turn Left Button" data-field="l" src="~/Images/left.png" />
                            </td>
                            <td></td>
                            <td>
                                <input id="right" type="image" value="Right" alt="Turn Right Button" data-field="r" src="~/Images/right.png" />
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <input id="backward" type="image" value="Backward" alt="Backward Button" data-field="b" src="~/Images/down.png" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <ul id="newCommands" class="lists"></ul>
                <div class="row">
                    <input id="sendCommands" class="missionButton btn btn-primary" type="submit" value="Send Commands" />
                </div>
            </div>
            <div class="mapContainer col-md-6 col-md-offset-1">
                <div class="terrainMap">
                    @for (int rowIndex = Model.Map.Count - 1; rowIndex >= 0; rowIndex--)
                    {
                        var row = Model.Map[rowIndex];
                        for (int columnIndex = 0; columnIndex < row.Count; columnIndex++)
                        {
                            var id = columnIndex + "_" + rowIndex;
                            var imagePath = "~/Images/" + row[columnIndex];

                            <img id="@id" class="mapImage" src="@Url.Content(imagePath)" alt="Image" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        pagePrep();
    });
</script>
